/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

/* Set default font family and background color */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #9E27FF;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

/* Container for content with a maximum width and centered */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* All headings are bold */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  margin-top: 1.5em;
}

/* Adjust font sizes for headings */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

/* Hidden text for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Improve color contrast for links */
a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Remove bullet points from list items in the navigation menu */
nav ul {
  list-style-type: none;
}

/* Add this CSS rule to remove underlines from all links in the navigation menu */
nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Style for hovered links */
nav ul li a:hover {
  color: #007BFF;
  text-decoration: underline;
}
